<!DOCTYPE html>
<html>
<head>
  <title>Coffeedemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/">CoffeeDemo</a>
<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>

<%= yield %>

<p>copyright 2014</p>
</body>
</html>
